<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../parts/head", { title: 'Panel Staff' }) %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        
    </head>

    <style>
  .dropdown-content li>span{
    color: #2C2F33;
}


body.dark-theme input {
    color:white;
}

.input-field{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #dedede;
    margin-top: 60px;
}



.btn{
    background-color: #2ecc71;
    border: solid 0px;
    border-radius: 5px;
    
}

.btn:hover{
    border: solid 0px;
}






.select-wrapper input.select-dropdown{
    background-color: #2C2F33;
    border: solid 0px;
    border-radius: 5px;
    border-bottom: solid 0px;
    color: #dedede;
}

input[type=text]:not(.browser-default){
    background-color: #2C2F33;
    border: solid 0px;
    border-radius: 5px;
    color: #dedede;
    padding-left: 10px;
}

input[type=url]:not(.browser-default){
    background-color: #2C2F33;
    border: solid 0px;
    border-radius: 5px;
    color: #dedede;
    padding-left: 10px;
}

input[type=url]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #7289DA;
    -webkit-box-shadow: 0 1px 0 0 #7289DA;
    box-shadow: 0 1px 0 0 #7289DA;
}
textarea.materialize-textarea{
    background-color: #23272A;
    border: solid 0px;
    border-radius: 6px;
    min-height: 250px;
    max-height: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    

}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #7289DA;
    -webkit-box-shadow: 0 1px 0 0 #7289DA;
    box-shadow: 0 1px 0 0 #7289DA;
}

.hiddendiv{
    position:relative;
    width: 10px;
    display: none;
}

::placeholder{
    color: #7C8083;
}





.leftmenu{
  background-color: #1d1f21;
  width: 100%;
  height: auto;
  display:inline-block;
  border-right: solid 2px #33343b;
  border-top: solid 2px #33343b;
  border-bottom: solid 2px #33343b;
  padding: 15px;
  font-family: 'Quicksand', sans-serif;
  
  
}


.rightmenu{
  background-color: #222428;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: auto;
  display:inline-block;

  padding: 15px;

}

body{
  padding: 0px;
  margin: 0px;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  
}


.menuver{
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;

}

.btnmenuver{
  background-color: #1d1f21;
  border: solid 0px;
  border-radius: 6px;
  width: 250px;
  height: 50px;
  color: #A5AAAF;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  vertical-align:middle;
  cursor:pointer
 
 
}



.btnmenuver:hover{
  background-color: #2C2F33;
}

.btnmenuhovered{
  background-color: #2C2F33;
  border: solid 0px;
  border-radius: 6px;
  width: 250px;
  height: 50px;
  color: #A5AAAF;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  vertical-align:middle;
  cursor:pointer
}


hr{
    background-color:#33343b;
    height: 2px;
    margin: 10px 0;
    border: none;
}

.bgcolor{

  
min-height: auto;
display: block;

  grid-auto-flow: column;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
 

}


.imgbot{
    margin-left: auto;margin-right: auto;width: 100%;text-align: center;
}
.ttalign{
    display: block;
}

.profilcard{
    background-color:#1d1f21;
    border: solid 0px;
    border-radius: 6px;
    width: 100%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #23272A;
    
}


@media (min-width: 900px){


    .profilcard{
    background-color:#1d1f21;
    border: solid 0px;
    border-radius: 6px;
    width: 500px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #23272A;
}


.bgcolor {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
}

.imgbot{
    margin-left: auto;margin-right: auto;width: 100%;text-align: left;
}

.ttalign{
display: inline-block;
margin-left: 15px;
}

}

.tl{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.pagecard{
    background-color: #1d1f21;
    border: solid 0px;
    border-radius: 6px;
    width: 330px;
    height: 210px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

    display: inline-block;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #23272A;
    vertical-align: middle;
}

.pagecardtitle{
    color: #b6bef1;
    font-size: 18px;
    
}

.pagecardbtn{
    background-color: #2C2F33;
    border: solid 0px;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

.pagecardbtn:hover{
    background-color: #23272A;

}


.btncard{
    background-color:#2C2F33;
    border: solid 0px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}


.btncard:hover{
    background-color:#222428;
}


.btnevent{
    background-color:#2C2F33;
    border: solid 0px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}


.btnevent:hover{
    background-color:#7289DA;
}


    </style>
    <body style="background-color: #2C2F33;">
     
        <div class="main">

         
            <div class="bgcolor">
  
                <span class="leftmenu">
                
                  

                    <div style="margin-top: 20px;">
                     
                        <img class="responsive-img " alt="User Avatar" style=" vertical-align: middle; width: 70px !important; height: 70px !important;border-radius: 7px;"src="<%=user._discordAvatarURL%>">
                   


                      
                        <span style="color: #b6bef1;margin-left: 10px;font-size: 20px;"><%= user.username%><span style="color: #dedede;font-size: 15px;">#<%=user.discriminator%></span></span>
                     
                       
                    </div>
             

                    <a href="/">
                    <div style="margin-top:20px;margin-bottom: 10px;"  class="btnmenuver">
                        <div style="padding:14px;">
                            <svg fill="currentColor" style="vertical-align: middle;margin-right:5px;" xmlns="http://www.w3.org/2000/svg" class="ionicon" width="1.2em" height="1.2em" viewBox="0 0 512 512"><path d="M261.56 101.28a8 8 0 00-11.06 0L66.4 277.15a8 8 0 00-2.47 5.79L63.9 448a32 32 0 0032 32H192a16 16 0 0016-16V328a8 8 0 018-8h80a8 8 0 018 8v136a16 16 0 0016 16h96.06a32 32 0 0032-32V282.94a8 8 0 00-2.47-5.79z"/><path d="M490.91 244.15l-74.8-71.56V64a16 16 0 00-16-16h-48a16 16 0 00-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0043 267.56L250.5 69.28a8 8 0 0111.06 0l207.52 198.28a16 16 0 0022.59-.44c6.14-6.36 5.63-16.86-.76-22.97z"/></svg> <span style="vertical-align: middle;">Accueil</span>
                         </div>
                       </div>
                    </a>


                    <a href="/user/<%=user.id%>">
                       <div style="margin-top:10px;margin-bottom: 10px;"  class="btnmenuver">
                        <div style="padding:14px;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox="0 0 512 512"><path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm-50.22 116.82C218.45 151.39 236.28 144 256 144s37.39 7.44 50.11 20.94c12.89 13.68 19.16 32.06 17.68 51.82C320.83 256 290.43 288 256 288s-64.89-32-67.79-71.25c-1.47-19.92 4.79-38.36 17.57-51.93zM256 432a175.49 175.49 0 01-126-53.22 122.91 122.91 0 0135.14-33.44C190.63 329 222.89 320 256 320s65.37 9 90.83 25.34A122.87 122.87 0 01382 378.78 175.45 175.45 0 01256 432z"/></svg> <span style="vertical-align: middle;">Mon Profil</span>
                         </div>
                       </div></a>



                  <div class="menuver">

                    
                    
                       

                    <span style="margin-bottom:10px;text-transform:uppercase;letter-spacing:1px;font-size: 14px;color: #b6bef1;">Général</span>
                  
                  <a href="/dashboard/">
                    <div style="margin-top:10px;"  class="btnmenuver">
                     <div style="padding:14px;">
                       
<svg xmlns='http://www.w3.org/2000/svg' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox='0 0 512 512'><path d='M425.7 118.25A240 240 0 0076.32 447l.18.2c.33.35.64.71 1 1.05.74.84 1.58 1.79 2.57 2.78a41.17 41.17 0 0060.36-.42 157.13 157.13 0 01231.26 0 41.18 41.18 0 0060.65.06l3.21-3.5.18-.2a239.93 239.93 0 00-10-328.76zM240 128a16 16 0 0132 0v32a16 16 0 01-32 0zM128 304H96a16 16 0 010-32h32a16 16 0 010 32zm48.8-95.2a16 16 0 01-22.62 0l-22.63-22.62a16 16 0 0122.63-22.63l22.62 22.63a16 16 0 010 22.62zm149.3 23.1l-47.5 75.5a31 31 0 01-7 7 30.11 30.11 0 01-35-49l75.5-47.5a10.23 10.23 0 0111.7 0 10.06 10.06 0 012.3 14zm31.72-23.1a16 16 0 01-22.62-22.62l22.62-22.63a16 16 0 0122.63 22.63zm65.88 227.6zM416 304h-32a16 16 0 010-32h32a16 16 0 010 32z'/></svg> <span style="vertical-align: middle;">Dashboard</span>
                      </div>
                    </div>
                    </a>

                    <a href="/dashboard/news">
                    <div style="margin-top:5px;"  class="btnmenuver">
                        <div style="padding:14px;">
                            <svg xmlns='http://www.w3.org/2000/svg' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" class='ionicon' viewBox='0 0 512 512'><path d='M439.91 112h-23.82a.09.09 0 00-.09.09V416a32 32 0 0032 32 32 32 0 0032-32V152.09A40.09 40.09 0 00439.91 112z'/><path d='M384 416V72a40 40 0 00-40-40H72a40 40 0 00-40 40v352a56 56 0 0056 56h342.85a1.14 1.14 0 001.15-1.15 1.14 1.14 0 00-.85-1.1A64.11 64.11 0 01384 416zM96 128a16 16 0 0116-16h64a16 16 0 0116 16v64a16 16 0 01-16 16h-64a16 16 0 01-16-16zm208 272H112.45c-8.61 0-16-6.62-16.43-15.23A16 16 0 01112 368h191.55c8.61 0 16 6.62 16.43 15.23A16 16 0 01304 400zm0-64H112.45c-8.61 0-16-6.62-16.43-15.23A16 16 0 01112 304h191.55c8.61 0 16 6.62 16.43 15.23A16 16 0 01304 336zm0-64H112.45c-8.61 0-16-6.62-16.43-15.23A16 16 0 01112 240h191.55c8.61 0 16 6.62 16.43 15.23A16 16 0 01304 272zm0-64h-63.55c-8.61 0-16-6.62-16.43-15.23A16 16 0 01240 176h63.55c8.61 0 16 6.62 16.43 15.23A16 16 0 01304 208zm0-64h-63.55c-8.61 0-16-6.62-16.43-15.23A16 16 0 01240 112h63.55c8.61 0 16 6.62 16.43 15.23A16 16 0 01304 144z'/></svg> <span>Nouveautés</span>
                         </div>
                       </div></a>
                    
                       <a href="/dashboard/bots">
                    <div style="margin-top:5px;"  class="btnmenuver">
                     <div style="padding:14px;">
                       
<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox='0 0 512 512'><path d='M408 96H252.11a23.89 23.89 0 01-13.31-4L211 73.41A55.77 55.77 0 00179.89 64H104a56.06 56.06 0 00-56 56v24h416c0-30.88-25.12-48-56-48zM423.75 448H88.25a56 56 0 01-55.93-55.15L16.18 228.11v-.28A48 48 0 0164 176h384.1a48 48 0 0147.8 51.83v.28l-16.22 164.74A56 56 0 01423.75 448zm56.15-221.45z'/></svg> <span>Liste Bot</span>
                      </div>
                    </div></a>


                    <a href="/dashboard/job">
                    <div style="margin-top:5px;"  class="btnmenuver">
                        <div style="padding:14px;">
                          
<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox='0 0 512 512'><path d='M336 80H176a16 16 0 00-16 16v16h192V96a16 16 0 00-16-16z' fill='none'/><path d='M496 176a64.07 64.07 0 00-64-64h-48V96a48.05 48.05 0 00-48-48H176a48.05 48.05 0 00-48 48v16H80a64.07 64.07 0 00-64 64v48h480zm-144-64H160V96a16 16 0 0116-16h160a16 16 0 0116 16zM336 264a24 24 0 01-24 24H200a24 24 0 01-24-24v-4a4 4 0 00-4-4H16v144a64 64 0 0064 64h352a64 64 0 0064-64V256H340a4 4 0 00-4 4z'/></svg> <span>Travaille</span> <div style="display: inline-block;vertical-align: text-top;background-color: #7289DA;width: 60px;height: 16px;color: white;font-size: 11px;text-align: center;border: solid 0px;border-radius: 3px;margin-left: 10px;">Nouveau</div>
                         </div>
                       </div></a>

                       <% if(user.staff) { %>
                        <a href="/dashboard/staff">
                  
                            <div style="margin-top:5px;"  class="btnmenuhovered">
                                <div style="padding:14px;color: #7289DA;">
                                  
        
<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox='0 0 512 512'><path d='M503.58 126.2a16.85 16.85 0 00-27.07-4.55l-51.15 51.15a11.15 11.15 0 01-15.66 0l-22.48-22.48a11.17 11.17 0 010-15.67l50.88-50.89a16.85 16.85 0 00-5.27-27.4c-39.71-17-89.08-7.45-120 23.29-26.81 26.61-34.83 68-22 113.7a11 11 0 01-3.16 11.1L114.77 365.1a56.76 56.76 0 1080.14 80.18L357 272.08a11 11 0 0110.9-3.17c45 12 86 4 112.43-22 15.2-15 25.81-36.17 29.89-59.71 3.83-22.2 1.41-44.44-6.64-61z'/><path d='M437.33 378.41c-13.94-11.59-43.72-38.4-74.07-66.22l-66.07 70.61c28.24 30 53.8 57.85 65 70.88l.07.08A30 30 0 00383.72 464h1.1a30.11 30.11 0 0021-8.62l.07-.07 33.43-33.37a29.46 29.46 0 00-2-43.53zM118.54 214.55a20.48 20.48 0 00-3-10.76 2.76 2.76 0 012.62-4.22h.06c.84.09 5.33.74 11.7 4.61 4.73 2.87 18.23 12.08 41.73 35.54a34.23 34.23 0 007.22 22.12l66.23-61.55a33.73 33.73 0 00-21.6-9.2 2.65 2.65 0 01-.21-.26l-.65-.69-24.54-33.84a28.45 28.45 0 01-4-26.11 35.23 35.23 0 0111.78-16.35c5.69-4.41 18.53-9.72 29.44-10.62a52.92 52.92 0 0115.19.94 65.57 65.57 0 017.06 2.13 15.46 15.46 0 002.15.63 16 16 0 0016.38-25.06c-.26-.35-1.32-1.79-2.89-3.73a91.85 91.85 0 00-9.6-10.36c-8.15-7.36-29.27-19.77-57-19.77a123.13 123.13 0 00-46.3 9c-38.37 15.45-63.47 36.58-75.01 47.79l-.09.09A222.14 222.14 0 0063.7 129.5a27 27 0 00-4.7 11.77 7.33 7.33 0 01-7.71 6.17H50.2a20.65 20.65 0 00-14.59 5.9L6.16 182.05l-.32.32a20.89 20.89 0 00-.24 28.72c.19.2.37.39.57.58L53.67 258a21 21 0 0014.65 6 20.65 20.65 0 0014.59-5.9l29.46-28.79a20.51 20.51 0 006.17-14.76z'/></svg> <span>Panel Staff</span>
                                 </div>
                               </div></a>
                    <%}%>
                    
                    
                    <div style="margin-top:25px;">
                     <span style="color:#f5f6fa;text-transform:uppercase;letter-spacing:1px;font-size: 14px;">Besoin d'aide ?</span>
                    <a href="https://discord.gg/hCQGUC3">
                      <div style="margin-top:15px;"  class="btnmenuver">
                     <div style="padding:14px;">
                       
<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill="currentColor" style="vertical-align: middle;margin-right:5px;" class="ionicon" width="1.2em" height="1.2em" viewBox='0 0 512 512'><path d='M256 64C150 64 64 150 64 256s86 192 192 192 192-86 192-192S362 64 256 64zm-6 304a20 20 0 1120-20 20 20 0 01-20 20zm33.44-102C267.23 276.88 265 286.85 265 296a14 14 0 01-28 0c0-21.91 10.08-39.33 30.82-53.26C287.1 229.8 298 221.6 298 203.57c0-12.26-7-21.57-21.49-28.46-3.41-1.62-11-3.2-20.34-3.09-11.72.15-20.82 2.95-27.83 8.59C215.12 191.25 214 202.83 214 203a14 14 0 11-28-1.35c.11-2.43 1.8-24.32 24.77-42.8 11.91-9.58 27.06-14.56 45-14.78 12.7-.15 24.63 2 32.72 5.82C312.7 161.34 326 180.43 326 203.57c0 33.83-22.61 49.02-42.56 62.43z'/></svg> <span>Support</span>
                      </div>
                    </div>
                    </a>
                    </div>
                    
                    
                  </div>
                  
                </span>
                 


                <span class="rightmenu">

                    <div style="margin-top: 50px;" class="center-align">
                        <span style="color: #b6bef1;font-size: 27px;">Panel Staff</span>
                       </div>

                       <div style="margin-top: 20px;background-color: #2C2F33;border: solid 0px;border-radius: 30px;width: fit-content;height: 40px;padding: 10px;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;" class="center-align">
                           <span style="color: #dedede;">Les bots et les annonces non vérifier sont afficher ici</span>
                       </div>

                       <div class="center-align" style="width: 90%;margin-left: auto;margin-right: auto;margin-top: 30px;">
                  


                        <div style="margin-top: 50px;" class="center-align">
                            <span style="color: #b6bef1;font-size: 24px;">Bot (<%=bots.length%>)</span>
                           </div>
                        <div style="margin-top: 20px;">

                        <% if (bots.length == 0) { %>
                            <span>Aucun bot à vérifier , revenez plus tard.</span>
                            <% } else { %>
                           
                                <%- botChunks.map(chunk => `${chunk.map(bot => include("../parts/dashboardcardstaff", {bot, queue: true, config})).join("")}`).join("") %>
                            
                            <% } %>

                       </div>


                       <div style="margin-top: 50px;" class="center-align">
                        <span style="color: #b6bef1;font-size: 24px;">Annonce (<%=users.length%>)</span>
                       </div>
                    <div style="margin-top: 0px;">

                    <% if (users.length == 0) { %>
                        <span>Aucune annonce à vérifier , revenez plus tard.</span>
                        <% } else { %>
                       
                            <%- userschunk.map(chunk => `${chunk.map(annonce => include("../parts/annoncecard", {annonce})).join("")}</div>`).join("") %>
                        
                        <% } %>

                   </div>


                       </div>
              

                </span>
        </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("../parts/footer") %>
        <%- include("../parts/scripts") %>
    </footer>
</html>