
<div id="<%=bot.id%>" class="item">
    <a href="/bot/dashboard/<%=bot.id%>/general">
<div class="bot-item tts:right" aria-label="<%=bot.name%>">
    <img class="icon-bot" data-id="<%=bot.id%>" src="<%=bot._discordAvatarURL%>" width="50px" height="50px">
</div>
    </a>
</div>